<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.maquetado">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RegistroActivity"/>
        <activity android:name=".DatosRvActivity"/>
        <activity android:name=".CrearCuentaActivity"/>
        <activity android:name=".VerActivity"/>
        <activity android:name=".AnadirActivity"/>
        <activity android:name=".CantidadActivity"/>
        <activity android:name=".CategoriaActivity"/>
        <activity android:name=".CuentaActivity"/>
        <activity android:name=".EditarActivity"/>
        <activity android:name=".EliminarRV"/>
        <activity android:name=".MainMenuActivity"/>
        <activity android:name=".MarcaActivitiy"/>
        <activity android:name=".MenuAnadirActivity"/>
        <activity android:name=".TipoActivity"/>
        <activity android:name=".UnidadActivity"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>